%p
  Bonjour,
%p Une demande de remise a zero du mot de passe a été demandé, cliquez sur le lien ci-dessous pour change de mot de passe:.
%p= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token)
%p Si vous n'avez pas demander ce changement, ignorez ce mail.

