page-accueil {
  [noScroll] {
    overflow: hidden;
  }

  #map {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    width: 100%;
  }
}


.filters{
  width:150px;
  height:40px;
}