page-accueil {
  [noScroll] {
    overflow: hidden;
  }

  #map {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    width: 100%;
  }
}


.filters{
  width:150px;
  height:40px;
}


#button1{
  width: 30px;
  height: 30px;
  }
  
  #button1.flash-active{
    background-color: #01bc2d
    }

  #button1.noflash-active{
    background-color: #bfbfbf
    }

#button2{
  width: 30px;
  height: 30px;
  }
  
  #button2.chrono-active{
    background-color: #01bc2d
    }

  #button2.nochrono-active{
    background-color: #cfcfcf
    }

#button3{
  width: 30px;
  height: 30px;
  }
  
  #button3.handi-active{
    background-color: #01bc2d
    }

  #button3.nohandi-active{
    background-color: #bfbfbf
    }

#locate_button{
  width: 30px;
  height: 30px;
  }

/* --------- Style des clusters --------- */

.marker-cluster {
	background-clip: padding-box;
	color: white;
	font-weight: bolder;
	border-radius: 20px;
	}

.marker-cluster-green {
	text-align: center;
	background-color: rgba(49, 236, 0, 0.8);
}

.marker-cluster-orange {
	 text-align: center;
	background-color: rgba(241, 211, 87, 0.9);
}

.marker-cluster-red {
	background-color: rgba(255, 2, 2, 0.8);
	 text-align: center;
}

.marker-cluster-disconnected {
	background-color: rgba(156, 156, 156, 0.8);
	 text-align: center;
	}