<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div class = "titleicon">
      <img src="assets/images/logo_technolia.png"  height="40px"/>
    </div>

    <ion-title>     
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card  *ngIf = "local_booking.is_booked">
    <ion-card-content>

      <ion-card-title>
        Réservation en cours :
      </ion-card-title>

      <li >
          Spot réservé : {{local_booking.spot_id}}
      </li>
      <li >
          Adresse : {{local_booking.adresse}}
      </li>
      <li >
          Validité : {{local_booking.date}}
      </li>
      <br>

      <div text-center>
      <a class=itineraire-button ><span class="white-text"> Itinéraire </span></a>
      &emsp;
      <a class=annul-button (click)='cancel_booking();'><span class="white-text"> Annuler </span></a>
      </div>

    </ion-card-content>
  </ion-card>

  <div class="no-booking" *ngIf = "!(local_booking.is_booked)">
      Pas de réservation en cours ...    
  </div>
    
</ion-content>